
.four{text-align: center;}
    
.two{
    border: 2px black solid;
    width: 300px;
    margin-left: 80px;
    border-radius: 10px;
    float: left;


}
.img2{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    margin-left: 50px;
    margin-top: 20px;
}
.para2{
    margin-left: 4px;
}
.three{
    border: 2px black solid;
    width: 300px;
    margin-left: 80px;
    border-radius: 10px;
    float: left;
}
.five{
    border: 2px black solid;
    width: 300px;
    margin-left: 80px;
    border-radius: 10px;
    float: left;
}
h3{text-align: center;}
a{color: aliceblue;
text-decoration: none;}

