.bg{background-color: white;}

.container{align-items: center;
margin: auto auto;}
.form{margin-top: 100px;
width: 350px;
height: 300px;
border: 4px solid black;
border-radius: 20px;}
.main{display: flex;}
.form2{margin-left: 20px;}
.form1{margin-left: 20px;}
@media(max-width:770px){.form{margin-top: 10px;}}
input.size{width: 140px;}
.b1{margin-left: 130px;
width: 80px;}
footer{background-color: #111;}
.img{width: 100%;
padding: 20px ;}
.icons{display: flex;
justify-content: center;}
.icons a{text-decoration: none;
padding: 10px;
background-color: white;
margin: 10px;
border-radius: 50%;
}
.footnav{margin: 30px 0;}
.footnav ul{display: flex;
justify-content: center;}
.footnav ul li {color: white;
margin: 20px;
list-style-type: none;
opacity: 0.7;
}
.footbottom{color: white;
text-align: center;
padding: 20px;}